body{
    background: #E1F5FE; 
}

.normal-button{
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    margin: 0 auto; /* Center the buttons horizontally */
    padding: 10px; /* Add padding for spacing */
}

.nav-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.normal-button:hover{
    background-color: #0056b3;
}

.nav-button:hover{
    background-color: #0056b3;
}

.nav-button-disabled{
    padding: 8px 16px;
    background-color: #ccc;
    color: #666;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
}


  .table-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .centered-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin: auto;
    width: 80%;
    background-color: #f5f5f5; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }

  .logo{
    padding-top: 2%;
  }
  
  .centered-table td {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff; 
    color: #333333;
  }

  .button-group{
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-grouped {
    padding: 10px 20px;
    border: none;
    background-color: #f5f5f5;
    color: #333333;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .button-grouped.active {
    background-color: #ffa726; 
    font-weight: 700;
    color: #ffffff;
  }

  .button-grouped.active:hover{
    background-color: #ff9100; 
  }

  .button-grouped.inactive {
    background-color: #e8e8e8; 
    color: #ffffff;
  }

  .button-group.inactive:hover{
    background-color: #d0d0d0;
  }

  .input-bar{
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    gap: 10px;
  }

  .search-bar{
    flex: 1;
    border: none;
    padding: 8px;
    border-radius: 5px;
  }

  .title-search {
    padding-bottom: 2%;
    font-size: 24px;
    font-weight: 500;
  }

  .search-settings{
    padding-bottom: 2%;
  }

  .text-response{
    font-weight: 500;
  }

  .App {
    display: flex;
    flex-direction: column;
    text-align: center;
  }